/*-----------------------------------------------------------------------------------

    Project Name: Magezix - News Magazine HTML Template
    Author: Themexriver -->> (https://themeforest.net/user/themexriver)
    Support: themexriver@gmail.com
    Description: Magezix - News Magazine HTML Template
    Developer: Mohammad Wasim Mia
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

	01. Theme default CSS
    02. header
    03. home
    04. global
    05. preloder
    06. about
    07. contact
    08. faq
    09. news
    10. blog
    11. shop
    12. author
    13. 404
    14. footer

-----------------------------------------------------------------------------------*/
// abstracts scss
@import
    'abstracts/variables',
    'abstracts/mixins';

// base scss
@import 
    'base/fonts',
    'base/base',
    'base/spacing',
    'base/typography',
    'base/overlay';

// layout scss
@import 
    'layout/header',
    'layout/navigation';
 
// components scss
@import 
    'components/social-links',
    'components/buttons',
    'components/sidebar-info',
    'components/global',
    'components/search',
    'components/preloder',
    'components/switch-box',
    'components/dark-theme',
    'components/breadcrumb',
    'components/about',
    'components/contact',
    'components/faq',
    'components/news',
    'components/blog',
    'components/shop',
    'components/author',
    'components/backtotop',
    'components/404';

// page scss
@import 
    'pages/home';

// layout scss
@import 
    'layout/footer';
